@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    display: flex;
    position: relative;
    width: 600px;
    height: 300px;
    margin: 20px;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg, #1a2f3f, #7094ce);

}

.container .card img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 400px;
    transition: 0.5s;
}

.container .card:hover img {

    left: 73%;
    height: 300px;


}

.container .card .content {
    position: relative;
    width: 50%;
    left: 20;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container .card .content h2 {
    color: rgb(150, 152, 155);
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 1em;
}

.container .card:hover .content {
    opacity: 1;
    visibility: visible;
    left: 0;
}

.container .card .content p {
    color: white;
}

.container .card .content a {
    position: relative;
    color: black;
    background: #fff;
    direction: none;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: 700;

}
