*{margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    background-image: url("forwebsite.jpg");
    
    
}
.NAVBAR{
    height: 10%;

    display: flex;
}
.nav-left{
    flex-basis: 30%;
    background: white;
    position: relative;
}
.nav-icons{
    left: 5%;
    top: 10%;
    position: absolute;
}

.nav-icons ul li{
    display: inline-block;
    margin-right: 15px;
}
.nav-icons ul li i{
    color:gray;

}

.nav-right{
    flex-basis: 70%;
    position: relative;
}
.nav-menu{
    top: 20%;
    right: 2%;
    position: absolute;
}
.logo{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
}

.nav-menu ul li{
    display: inline-block;
    margin-left: 15px;

}


.nav-menu ul li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.nav-menu ul li a:hover{
    color: crimson;
}
.content{
    height: 90%;
    display: flex;
}
.content-left{
    flex-basis: 30%;
    background: white;
    position: relative;
}
.socialmedia{
    left: 5%;
    bottom: 5%;
    position: absolute;
}
.socialmedia ul li{
    list-style: none;
    height: 30px;
    width: 30px;
    margin: 10px;
    background: gray;
    text-align: center;
    line-height: 30px;
}
.socialmedia ul li i{
    color: white;
}
.socialmedia ul li i:hover{
    color: blue;

}

.content-right{
    flex-basis: 70%;
    position: relative;
}
.text{
    right: 10%;
    bottom: 15%;
    position: absolute;
}

.text h1{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}
.text p{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}   
.display{
    left: -15%;
    bottom: 20%;
    position: absolute;
}
.display img{
    height: 115%;
    width: 115%;
}